spacy==2.0.12
https://github.com/explosion/spacy-models/releases/download/pt_core_news_sm-2.1.0a0/pt_core_news_sm-2.1.0a0.tar.gz
beautifulsoup4==4.6.3
Flask==1.0.2
Flask-Login==0.4.1
Flask-Migrate==2.2.1
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
google==2.0.1
Jinja2==2.10
lxml==4.2.5
nltk==3.3
SQLAlchemy==1.2.12
urllib3==1.23
WTForms==2.2.1
